.faq-container {
  background-color: #70a985;
  padding: 20px;
  border-radius: 12px;
}

.faq-title,
.faq-question,
.faq-answer {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

.faq-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.faq-section {
  flex: 2;
  padding: 20px;
}

.intro-image {
  flex: 1;
  padding: 20px;
}

.intro-image img {
  max-width: 100%;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
