.navbar {
  background-color: rgba(78, 99, 118, 0.871);
  height: 70px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.navbar-left,
.navbar-right {
  width: 490px;
}

.navbar-center {
  flex: 1;
  text-align: center;
}

.navbar-logo {
  max-height: 70px;
  border-radius: 10px;
}

.navbar-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  padding: 0 15px;
}

.navbar-link {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

/* Menu icon styling */
.menu-icon {
  display: none;
  color: #ffffff;  /* Match the text color */
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;  /* Stack elements vertically */
    padding: 0 20px;
  }

  .navbar-left, .navbar-right, .navbar-center {
    width: 100%;  /* Make it full width */
  }

  .navbar-center {
    order: 2;  /* Move the navigation to the bottom */
  }

  .navbar-right {
    order: 1;  /* Move the language toggle to the middle */
    text-align: right;
    padding-bottom: 10px;
  }

  .menu-icon {
    display: inline-block;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
    position: relative;  /* Not absolute */
    top: unset;  /* Remove the fixed top position */
    background-color: inherit;
  }

  .navbar-list.active {
    display: flex;
  }

  .navbar-item {
    padding: 10px 0;
  }
}

.language-label {
  display: inline-block;  /* Display it inline with the language-toggle */
  vertical-align: middle;
  margin-left: 450px;  /* Adjust margin */
}

.navbar-right {
  position: relative;
  right: 10px;  /* Move more to the side */
}


.language-toggle {
  width: 60px;
  height: 34px;
  position: relative;
  display: inline-block;
  float: right;
}

.language-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.language-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #373937;
  border-radius: 17px;
  transition: 0.4s;
}

.language-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  color: #ffffff;
}

.language-toggle input:checked + .language-slider {
  background-color: #000000;
}

.language-toggle input:focus + .language-slider {
  box-shadow: 0 0 1px #000000;
}

.language-toggle input:checked + .language-slider:before {
  transform: translateX(26px);
}
