body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2; /* Light grey background */
  color: #333;  /* Dark grey text */
  margin: 0;
  padding: 0;
}

.outline {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;  /* White background for each component */
}




.navbar {
  background-color: #2e2e2e; /* Dark background */
  color: white; /* White text */
  display: flex;
  justify-content: space-around; /* Distributes items evenly */
  padding: 5px 5px; /* Some padding for good measure */
  align-content: flex;
}
.sidebar-toggle-button {
  position: fixed;
  z-index: 1001; /* Make sure it appears above the sidebar */
  left: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}




